@import url("./holberton_school-icon/style.css");

:root {
    --font-family: "Source Sans Pro", serif;
    --color-dark: #071629;
    --color-white: #ffffff;
    --color-purp: #C271FF;
    --color-purp-light: #D296FF;
}

body {
    font-family: var(--font-family) !important;
}

.imgbg1 {
    background-image: url('./images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: var(--color-dark);
    margin: 0;
}

.imgbg2 {
    background-image: url('./images/pic_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: var(--color-dark);
    margin: 0;
}

li a:hover, li a:focus {
    color: var(--color-purp) !important;
}

.bigify {
    font-size: 1.75rem;
}

.btn {
    background-color: var(--color-purp) !important;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
}

.btn:hover,
.btn:focus {
    opacity: 0.9;
}

.burger::before {
    font-family: 'holberton_school-icon';
    content: "\e911";
    color: var(--color-white);
    font-size: 2rem;
}

.text-purp {
    color: var(--color-purp);
}

.bg-color-purp {
    background-color: var(--color-purp);
}

.bg-color-purp-light {
    background-color: var(--color-purp-light);
}

.bg-black {
    background-color: var(--color-dark);
}

.bg-white {
    background-color: var(--color-white);
}

header {
    text-align: center;
    margin-top: 50px;
}

.right-icons img {
    margin-left: 10px;
}

.word {
    margin: 0 5px;
}

.header-button {
    margin-top: 10px;
}

.column {
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .imgbg1 {
        background-position: center top;
        background-size: 100vw;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .display-1 {
        font-size: 5rem;
    }
    .imgbg1 {
        background-size: auto;
    }

}
